.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.logo img {
    margin-right: 10px;
}

.logo .titulo-logo {
    display: flex;
    height: 100%;
    align-items: center;
    margin-bottom: 0;
}

.deck-cards {
    margin-bottom: 190px;
}

.card {
    display: flex;
    width: 300px;
    height: 60px;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 25px;
}

.card p {
    margin-left: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.card ion-icon {
    margin-right: 15px;
    cursor: pointer;
}

.card-zap {
    display: flex;
    width: 300px;
    height: 60px;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 25px;
}

.card-zap>p {
    margin-left: 15px;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #2FBE34;
}

.card-zap ion-icon {
    background-color: #2FBE34;
    color: #FFFFFF;
    border-radius: 50%;
    margin-right: 15px;
    width: 22px;
    height: 22px;
}

.card-late {
    display: flex;
    width: 300px;
    height: 60px;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 25px;
}

.card-late>p {
    margin-left: 15px;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #FF922E;
}

.card-late ion-icon {
    background-color: #FF922E;
    color: #FFFFFF;
    border-radius: 50%;
    margin-right: 15px;
    width: 22px;
    height: 22px;
}

.card-wrong {
    display: flex;
    width: 300px;
    height: 60px;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 25px;
}

.card-wrong>p {
    margin-left: 15px;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #FF3030;
}

.card-wrong ion-icon {
    background-color: #FF3030;
    color: #FFFFFF;
    border-radius: 50%;
    margin-right: 15px;
    width: 22px;
    height: 22px;
}

.card-pergunta {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    position: relative;
    background-color: #FFFFD4;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 300px;
    height: 140px;
}

.card-pergunta>p {
    position: absolute;
    margin-left: 15px;
    margin-top: 18px;
}

.card-pergunta img {
    position: absolute;
    right: 15px;
    bottom: 6px;
    cursor: pointer;
}


.card-resposta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-top: 10px;
    background-color: #FFFFD4;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 300px;
    height: 140px;
}

.card-resposta>p {
    margin-left: 15px;
    margin-top: 18px;
}

.card-resposta .buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 6px;
}

.buttons p {
    font-weight: 400;
    font-size: 12px;
}

.errou {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 84px;
    height: 36px;
    background: #FF3030;
    border-radius: 5px;
    cursor: pointer;
}

.quase-errou {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 84px;
    height: 36px;
    background: #FF922E;
    border-radius: 5px;
    cursor: pointer;
}

.acertou {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 84px;
    height: 36px;
    background: #2FBE34;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    flex-direction: column;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 100vw;
    left: 0;
    bottom: 0;
    position: fixed;
}

footer>p {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

footer ion-icon{
    color: #FFFFFF;
    border-radius: 50%;
    margin-right: 5px;
    width: 22px;
    height: 22px;
    margin-top: 5px;
}

footer ion-icon[name="checkmark-circle-outline"] {
    background-color: #2FBE34;
}

footer ion-icon[name="help-circle-outline"] {
    background-color: #FF922E;
}

footer ion-icon[name="close-circle-outline"] {
    background-color: #FF3030;
}

footer .texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    text-align: center;
}

footer .texto .titulo {
    display: flex;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 14px;
}

footer .texto .texto {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 14px;
    word-wrap: break-word;
}

footer .texto .titulo>img {
    margin-right: 5px;
}

.reiniciar-recall {
    width: 170px;
    height: 34px;
    background: #FB6B6B;
    border-radius: 5px;
    border: 0px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
}