* {
    font-family: 'Recursive', sans-serif;
}

.titulo-logo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 36px;
    color: white;
    margin-bottom: 30px;
}

body {
    background-color: #FB6B6B;
}
